<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% console.log(products);    %>

        <% if (products.length > 0) { %>
            <div class="grid">
                <% products.forEach(product=>{ %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.productData.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src= "<%=product.productData.imageUrl %>"
                                alt="hh">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%=product.productData.price %></h2>
                            <p class="product__description"><%=product.productData.description %></p>
                        </div>
                        <div class="card__actions btn__cards">
                                <form action="/cart-delete-items"            method="POST">
                                    <button class="btn">Delete</button>
                                    <input type="hidden" name="productId", value="<%=product.productData.id%>">
                                </form>
                        </div>
                    </article>
                <% }) %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>

